.sws-tweaks-tposts-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.sws-tweaks-tposts-column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  padding: 1.5rem;
}

.sws-tweaks-tposts-heading  { padding: .5rem 0; }

.sws-alt-txt { opacity:0; }

.sws-tweaks-tposts-img-div {
	background-size: cover !important;
	background-position: center !important;
	width:100%;
	min-height:25vw;
}