/* COLLAPSING STYLES
<div class='sws-accordion'>
	<input type="checkbox" id="title2" class="sws-accordion"/>
	<label for="title2">Accordion Two</label>
	<div class="sws-acc-content">
		<p>Your content goes here inside this division with the class "content".</p>
	</div>
</div>

*/


.sws-acc-content {
    background: #E2E5F6;
    padding: 10px 25px;
    border: 1px solid #A7A7A7;
    margin: 0 0 1px 0;
    border-radius: 3px;
}

input.sws-accordion[type='checkbox'] {
    display: none;
}

label.sws-accordion {
    display: block;    
    padding: 8px 22px;
    margin: 0 0 1px 0;
    cursor: pointer;
    background: #6AAB95;
    border-radius: 3px;
    color: #FFF;
    transition: ease .5s;
}

label.sws-accordion:hover {
    background: #4E8774;
}

input.sws-accordion + label.sws-accordion + .sws-acc-content {
    display: none;
}

input.sws-accordion:checked + label.sws-accordion + .sws-acc-content {
    display: block;
}