.sws-tweaks-tposts-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.sws-tweaks-tposts-column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}